@{
    ViewData["Title"] = "Search";
    string selected = "selected";
    string item_checked = "checked";

    List<ThemeData> theme_list = (List<ThemeData>)ViewData["theme_list"];
    if(theme_list == null)
    {
        theme_list = new List<ThemeData>();
    }
    string series_name = (string)ViewData["series_name"];
    string imdb_list = (string)ViewData["imdb_list"];
    string tvdb_list = (string)ViewData["tvdb_list"];
    string tmdb_list = (string)ViewData["tmdb_list"];
    string md5 = (string)ViewData["md5"];
    string added_by = (string)ViewData["added_by"];

    string verified = (string)ViewData["verified"];
    string limit = (string)ViewData["limit"];
    string orderby = (string)ViewData["orderby"];
    string orderdir = (string)ViewData["orderdir"];

}

<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
></script>

<h4>Search</h4>
<form method="GET" action="">

    <table>
        <tr>
            <td style="white-space:nowrap">Series Name</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="use wildcard *" class="form-control form-control-sm" type="text" name="name" value="@series_name"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Imdb</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="comma seperate multiple" class="form-control form-control-sm" type="text" name="imdb" value="@imdb_list"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">TheMovieDB</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="comma seperate multiple" class="form-control form-control-sm" type="text" name="tmdb" value="@tmdb_list"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">TheTvDB</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="comma seperate multiple" class="form-control form-control-sm" type="text" name="tvdb" value="@tvdb_list"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">MD5</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="comma seperate multiple" class="form-control form-control-sm" type="text" name="md5" value="@md5"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Added By</td>
            <td style="white-space:nowrap"><input style="width: 300px;" placeholder="comma seperate multiple" class="form-control form-control-sm" type="text" name="added" value="@added_by"/></td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Limit</td>
            <td style="white-space:nowrap">
                <select class="form-control form-control-sm" name="limit">
                    <!option value="10" @if(limit == "10"){ @selected }>10</!option>
                    <!option value="50" @if(limit == "50"){ @selected }>50</!option>
                    <!option value="100" @if(limit == "100"){ @selected }>100</!option>
                    <!option value="0" @if(limit == "0"){ @selected }>All</!option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap">Order</td>
            <td style="white-space:nowrap">
                <table>
                    <tr>
                        <td>
                            <select class="form-control form-control-sm" name="orderby">
                                <!option value="0" @if(orderby == "0"){ @selected }>Date Added</!option>
                                <!option value="1" @if(orderby == "1"){ @selected }>Date Edited</!option>
                                <!option value="2" @if(orderby == "2"){ @selected }>Series Name</!option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="orderdir">
                                <!option value="0" @if(orderdir == "0"){ @selected }>Descending</!option>
                                <!option value="1" @if(orderdir == "1"){ @selected }>Ascending</!option>
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="white-space:nowrap"></td>
            <td style="white-space:nowrap"><!input type="checkbox" name="verified" value="true" @if(verified == "true") { @item_checked }/> Only include verified</td>
        </tr>
        <tr>
            <td style="white-space:nowrap"></td>
            <td style="white-space:nowrap"><input type="checkbox" name="download" value="true"/> Download results</td>
        </tr>
        <tr>
            <td style="white-space:nowrap"></td>
            <td style="white-space:nowrap"><input style="width: 150px;" class="form-control form-control-sm" type="submit" value="Submit"/></td>
        </tr>
    </table>

</form>

<br />

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col" style="padding: 1px;"></th>
            <th scope="col" style="padding: 1px;">Imdb</th>
            <th scope="col" style="padding: 1px;">TheMovieDB</th>
            <th scope="col" style="padding: 1px;">TheTvDB</th>
            <th scope="col" style="padding: 1px;">Series Name</th>
            <th scope="col" style="padding: 1px;">Season</th>
            <th scope="col" style="padding: 1px;">Episode</th>
            <th scope="col" style="padding: 1px;">Added By</th>
            <th scope="col" style="padding: 1px;">Added</th>
            <th scope="col" style="padding: 1px;">Verified</th>
        </tr>
    </thead>

    <tbody>
    @foreach(ThemeData theme in theme_list)
    {
        <tr>

            <td style="padding: 1px; white-space: nowrap;">
                <a style="color:inherit;" href="@Url.Action("ShowItemInfo", "Home")/@theme.id"><i class="fas fa-eye" title="View"></i></a>
                &nbsp;
                <a style="color:inherit;" href="@Url.Action("DownloadItemInfo", "Home")/@theme.id"><i class="fas fa-download" title="Download"></i></a>
            </td>
            <td style="padding: 1px; white-space: nowrap;">@theme.imdb</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.themoviedb</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.thetvdb</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.series_name</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.season</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.episode</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.added_by</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.added_date.Value.ToString("dd-MMM-yy")</td>
            <td style="padding: 1px; white-space: nowrap;">@theme.verify_count</td>
        </tr>
    }
    </tbody>
</table>


