@{
	ThemeData theme_data = (ThemeData)ViewData["theme_data"];
	GitHubUser user_info = (GitHubUser)ViewData["user_info"];

	bool admin = false;
	if(	!string.IsNullOrEmpty(user_info.LoginId) && 
		!string.IsNullOrEmpty(theme_data.added_by) && 
		user_info.LoginId == theme_data.added_by)
	{
		admin = true;
	}
}

<script>

function delete_action() {
	if(confirm('Are you sure you want to delete this item?')) {
		window.location.href = '@Url.Action("DeleteTheme", "Home")?id=@theme_data.id'
	}
}

function submit_form() {
	document.getElementById("edit_form").submit();
}

</script>

<h4>Theme Info</h4>

@if(admin)
{
	<div>
		<button onclick="submit_form();">Update</button>
		<button onclick="delete_action();">Delete</button>
	</div>
}

<form method="POST" action="@Url.Action("UpdateTheme", "Home")" id="edit_form">

<input type="hidden" name="id" value="@theme_data.id" />

<table class="table table-sm">
	<tr>
		<td style="white-space:nowrap">Imbd</td>
		<td style="width: 95%;">
			@if(admin)
			{
				<input type="text" name="imdb" value="@theme_data.imdb" />
			}
			else
			{
				<a href="https://www.imdb.com/title/@theme_data.imdb" target="_blank">@theme_data.imdb</a>
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">TheMovieDB</td>
		<td>
			@if(admin)
			{
				<input type="text" name="themoviedb" value="@theme_data.themoviedb" />
			}
			else
			{
				<a href="https://www.themoviedb.org/tv/@theme_data.themoviedb" target="_blank">@theme_data.themoviedb</a>			
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">TheTvDB</td>
		<td>
			@if(admin)
			{
				<input type="text" name="thetvdb" value="@theme_data.thetvdb" />
			}
			else
			{
				<a href="https://thetvdb.com/?tab=series&id=@theme_data.thetvdb" target="_blank">@theme_data.thetvdb</a>
				
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Series Name</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="series_name" value="@theme_data.series_name" />
			}
			else
			{
				@theme_data.series_name
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Season</td>
		<td>
			@if(admin)
			{
				<input type="text" name="season" value="@theme_data.season" />
			}
			else
			{
				@theme_data.season
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Episode</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="episode" value="@theme_data.episode" />
			}
			else
			{
				@theme_data.episode
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Extract Length (minutes)</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="extract_length" value="@theme_data.extract_length" />
			}
			else
			{
				@theme_data.extract_length
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Added By</td>
		<td>@theme_data.added_by</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Added</td>
		<td>@theme_data.added_date</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Edit</td>
		<td>@theme_data.edit_date</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Chromaprint Size</td>
		<td>@theme_data.theme_cp_data_size</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Chromaprint md5</td>
		<td>@theme_data.theme_cp_data_md5</td>
	</tr>
	<tr>
		<td colspan="2" style="white-space:nowrap">Chromaprint Data</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<div style="text-align: left; width: 90%; word-wrap: break-word; white-space: pre-wrap; word-break: break-all; font-family:Consolas; font-size:65%;">@theme_data.theme_cp_data</div>
		</td>
	</tr>
</table>

</form>