@{
	ViewData["Title"] = "Theme Info";

	ThemeData theme_data = (ThemeData)ViewData["theme_data"];
	GitHubUser user_info = (GitHubUser)ViewData["user_info"];

}

<script>

function history_action() {
	window.location.href = '@Url.Action("ItemHistory", "Home")?id=@theme_data.id'
}

function hide_action() {
	if(confirm('Confirm hide item?')) {
		window.location.href = '@Url.Action("HideTheme", "Home")?id=@theme_data.id'
	}
}

function submit_form() {
	if(confirm('Confirm save?')) {
		document.getElementById("edit_form").submit();
	}
}

function enable_save() {
    document.getElementById("save_button").disabled = false;
}

function verify_action(action) {
    if (action === "add") { 
        window.location.href = '@Url.Action("AddThemeVerification", "Home")?item_id=@theme_data.id';
	}
	else if(action === "remove") {
		window.location.href = '@Url.Action("RemoveVerification", "Home")?item_id=@theme_data.id';
	}
	
}

</script>

<h4>Theme Info</h4> 

<table>
	<tr>

	@if(user_info.IsAuthenticated)
	{
		<td><button class="form-control form-control-sm" onclick="submit_form();" id="save_button" disabled>Save</button></td>

		@if(theme_data.hidden)
		{
			<td><button class="form-control form-control-sm" disabled>Hide</button></td>
		}
		else
		{
			<td><button class="form-control form-control-sm" onclick="hide_action();">Hide</button></td>
		}

		@if (!string.IsNullOrEmpty(theme_data.verify_users) && theme_data.verify_users.IndexOf(user_info.LoginId) > -1)
		{
			<td><button class="form-control form-control-sm" onclick="verify_action('remove');" id="verify_button">Unverify</button></td>
		}
		else
		{
			<td><button class="form-control form-control-sm" onclick="verify_action('add');" id="verify_button">Verify</button></td>
		}
	}

		<td><button class="form-control form-control-sm" onclick="history_action();">History</button></td>

	</tr>
</table>

<form method="POST" action="@Url.Action("UpdateTheme", "Home")" id="edit_form">

<input type="hidden" name="id" value="@theme_data.id" />

<table class="table table-sm">
	<tr>
		<td style="white-space:nowrap">Imbd</td>
		<td style="width: 95%;">
			@if(user_info.IsAuthenticated)
			{
				<input class="form-control form-control-sm" type="text" name="imdb" value="@theme_data.imdb" oninput="enable_save();" />
			}
			else
			{
				<a href="https://www.imdb.com/title/@theme_data.imdb" target="_blank">@theme_data.imdb</a>
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">TheMovieDB</td>
		<td>
			@if(user_info.IsAuthenticated)
			{
				<input class="form-control form-control-sm" type="text" name="themoviedb" value="@theme_data.themoviedb" oninput="enable_save();" />
			}
			else
			{
				<a href="https://www.themoviedb.org/tv/@theme_data.themoviedb" target="_blank">@theme_data.themoviedb</a>			
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">TheTvDB</td>
		<td>
			@if(user_info.IsAuthenticated)
			{
				<input class="form-control form-control-sm" type="text" name="thetvdb" value="@theme_data.thetvdb" oninput="enable_save();" />
			}
			else
			{
				<a href="https://thetvdb.com/?tab=series&id=@theme_data.thetvdb" target="_blank">@theme_data.thetvdb</a>
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Series Name</td>
		<td>
			@if(user_info.IsAuthenticated)
			{	
				<input class="form-control form-control-sm" type="text" name="series_name" value="@theme_data.series_name" oninput="enable_save();" />
			}
			else
			{
				@theme_data.series_name
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Season</td>
		<td>
			@if(user_info.IsAuthenticated)
			{
				<input class="form-control form-control-sm" type="text" name="season" value="@theme_data.season" oninput="enable_save();" />
			}
			else
			{
				@theme_data.season
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Episode</td>
		<td>
			@if(user_info.IsAuthenticated)
			{	
				<input class="form-control form-control-sm" type="text" name="episode" value="@theme_data.episode" oninput="enable_save();" />
			}
			else
			{
				@theme_data.episode
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Extract Length (minutes)</td>
		<td>
			@if(user_info.IsAuthenticated)
			{	
				<input class="form-control form-control-sm" type="text" name="extract_length" value="@theme_data.extract_length" oninput="enable_save();" />
			}
			else
			{
				@theme_data.extract_length
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Hidden</td>
		<td>@theme_data.hidden</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Added</td>
		<td>@theme_data.added_date.Value.ToString("yyyy-MM-dd HH:mm:ss") (@theme_data.added_by)</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Edit</td>
		<td>@theme_data.edit_date.Value.ToString("yyyy-MM-dd HH:mm:ss") (@theme_data.edit_by)</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Verified By</td>
		<td>
			@if (!string.IsNullOrEmpty(theme_data.verify_users))
			{
				@theme_data.verify_users.Replace(",", " ");
			}
		</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Chromaprint Size</td>
		<td>@theme_data.theme_cp_data_size</td>
	</tr>
	<tr>
		<td style="white-space:nowrap">Chromaprint md5</td>
		<td>@theme_data.theme_cp_data_md5</td>
	</tr>
	<tr>
		<td colspan="2" style="white-space:nowrap">Chromaprint Data</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<div style="text-align: left; width: 90%; word-wrap: break-word; white-space: pre-wrap; word-break: break-all; font-family:Consolas; font-size:65%;">@theme_data.theme_cp_data</div>
		</td>
	</tr>
</table>

</form>