@{
	ThemeData theme_data = (ThemeData)ViewData["theme_data"];
	if(theme_data == null)
	{
		theme_data = new ThemeData();
	}
	GitHubUser user_info = (GitHubUser)ViewData["user_info"];

	bool admin = false;
	if(	!string.IsNullOrEmpty(user_info.LoginId) && 
		!string.IsNullOrEmpty(theme_data.added_by) && 
		user_info.LoginId == theme_data.added_by)
	{
		admin = true;
	}
}

<script>

function delete_action() {
	if(confirm('Are you sure you want to delete this item?')) {
		window.location.href = '@Url.Action("DeleteTheme", "Home")?id=@theme_data.id'
	}
}

function submit_form() {
	document.getElementById("edit_form").submit();
}

</script>

<h4>Theme chormaprint info</h4>

@if(admin)
{
	<div>
		<button onclick="submit_form();">Update</button>
		<button onclick="delete_action();">Delete</button>
	</div>
}

<form method="POST" action="@Url.Action("UpdateTheme", "Home")" id="edit_form">

<input type="hidden" name="id" value="@theme_data.id" />

<table class="table table-sm">
	<tr>
		<td>id</td>
		<td>@theme_data.id</td>
	</tr>
	<tr>
		<td>imbd</td>
		<td>
			@if(admin)
			{
				<input type="text" name="imdb" value="@theme_data.imdb" />
			}
			else
			{
				@theme_data.imdb
			}
		</td>
	</tr>
	<tr>
		<td>themoviedb</td>
		<td>
			@if(admin)
			{
				<input type="text" name="themoviedb" value="@theme_data.themoviedb" />
			}
			else
			{
				@theme_data.themoviedb
			}
		</td>
	</tr>
	<tr>
		<td>thetvdb</td>
		<td>
			@if(admin)
			{
				<input type="text" name="thetvdb" value="@theme_data.thetvdb" />
			}
			else
			{
				@theme_data.thetvdb
			}
		</td>
	</td>
	</tr>
	<tr>
		<td>season</td>
		<td>
			@if(admin)
			{
				<input type="text" name="season" value="@theme_data.season" />
			}
			else
			{
				@theme_data.season
			}
		</td>
	</tr>
	<tr>
		<td>episode</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="episode" value="@theme_data.episode" />
			}
			else
			{
				@theme_data.episode
			}
		</td>
	</tr>
	<tr>
		<td>extract length</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="extract_length" value="@theme_data.extract_length" />
			}
			else
			{
				@theme_data.extract_length
			}
		</td>
	</tr>
	<tr>
		<td>description</td>
		<td>
			@if(admin)
			{	
				<input type="text" name="description" value="@theme_data.description" />
			}
			else
			{
				@theme_data.description
			}
		</td>
	</tr>
	<tr>
		<td>added_by</td>
		<td>@theme_data.added_by</td>
	</tr>
	<tr>
		<td>added_date</td>
		<td>@theme_data.added_date</td>
	</tr>
	<tr>
		<td>Chromaprint size</td>
		<td>@theme_data.theme_cp_data_size</td>
	</tr>
	<tr>
		<td>Chromaprint md5</td>
		<td>@theme_data.theme_cp_data_md5</td>
	</tr>
	<tr>
		<td colspan="2">
			Chromaprint Data:<br />
			<pre>@StringUtils.WrapString(theme_data.theme_cp_data, 150)</pre>
		</td>
	</tr>
</table>

</form>